.container {
  height: 67vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  min-height: 80vh;
}

.container_wrapper {
  margin: 0 auto;

  @media (max-width: 850px) {
    width: 600px;
  }

  @media (max-width: 650px) {
    width: 400px;
  }
}

.table {
  margin: 0 auto;
  background-color: #eaeaea;
  border-radius: 15px;
  margin-top: 15px;
}

.table_title {
  font-size: 20px;

  @media (max-width: 650px) {
    font-size: 15px;
  }

  @media (max-width: 400px) {
    font-size: 10px;
  }
}

.indent {
  padding: 20px 40px;

  @media (max-width: 650px) {
    padding: 0;
    margin-top: 20px;
  }
}

.indent_last {
  padding: 0 40px 0 20px;
}

.table_add_coin {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  background-color: #578fe9;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.table_name {
  padding: 10px 0 0 15px;
}

.table_items {
  border-bottom: 1px solid rgb(255, 255, 255);
  
  @media (max-width: 650px) {
    width: 70px;
    font-size: 13px;
  }
}

.table_items_indent {
  padding: 10px 0 0 15px;
  text-align: center;
}

.first_child {
  width: 215px;
  padding-left: 15px;
  
  @media (max-width: 650px) {
    width: 100px;
    padding-left: 10px;
  }
}

.red {
  color: red;
}

.green {
  color: green;
}
