.container {
  height: 67vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  min-height: 80vh;

  &_wrapper {
    max-width: 1160px;
    margin: 0 auto;
  }

  .table {
    margin: 0 auto;
    background-color: #eaeaea;
    border-radius: 15px;

    &_title {
      &:not(:last-child) {
        padding: 20px 40px;
      }

      &:last-child {
        padding: 0 40px 0 20px;
      }
      
      font-size: 20px;
    }

    &_add {
      &_coin {
        position: relative;
        border-radius: 50%;
        background-color: #578fe9;
        color: white;
        border: 1px solid white;
        cursor: pointer;
        width: 19px;
      }
    }

    &_name {
      padding: 10px 0 0 15px;
      
    }

    td {
      border-bottom: 1px solid rgb(255, 255, 255);

      &:not(:first-child) {
        text-align: center;
      }
      
      &:first-child {
        width: 215px;
        padding-left: 15px;
      }
    }

    .red {
      color: red;
    }

    .green {
      color: green;
    }
  }
}